/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #50b3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #50b3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul {
  padding: 0;
  list-style: none;
  display: flex; /* Display the navigation items in a row */
  justify-content: center; /* Center-align the navigation items */
}
header li {
  padding: 0 20px 0 20px;
}
header #branding {
  flex: 1; /* Take up remaining space in the header */
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ffffff;
  font-weight: bold;
}
#calendar {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
}
.error-message {
  color: red;
  font-weight: bold;
}
.form-group {
  text-align: center; /* Centers the content of the form-group */
  margin-bottom: 2px; /* Adjust the vertical spacing between each form group */
}

.form-group label,
.form-group input {
  display: block; /* Makes label and input into block-level elements */
  margin-left: auto; /* Auto margins for center alignment */
  margin-right: auto;
  text-align: left; /* Aligns the text of labels and inputs to the left */
}

.form-group label {
  width: 200px; /* Adjust the width as necessary */
  margin-bottom: 5px; /* Space between the label and the input field */
}

.form-group input {
  width: 200px; /* Adjust the width as necessary */
  /* Other styles (e.g., padding, border) as needed */
}

/* Center the entire form within its parent container */
form {
  max-width: 300px; /* Or whatever maximum width you prefer */
  margin: auto; /* This centers the form in the container */
}

/* If you're still using <br> tags after your input fields, remove them to prevent line breaks. */

/* Center the h1 element */
h1 {
  text-align: center;
}

/* Center the button */
button {
  display: block; /* Changes the button to a block-level element */
  margin: 20px auto; /* Adds margin on the top and bottom, and sets left and right margins to auto */
  padding: 10px 20px; /* Adjust padding to your preference for size */
  background-color: #50b3a2; /* Optionally, use your header background color for the button */
  color: white; /* White text for the button */
  border: none; /* Removes the default border */
  cursor: pointer; /* Changes the cursor on hover to indicate it's clickable */
  font-size: 1em; /* Adjust the font size as needed */
}
